@model crudemvccore.Models.Product


@{
    ViewData["Title"] = "Details";
}
<div class="col-lg-3 col-md-4 col-sm-6 pb-1">
    
            <img class="img-fluid w-100" src=@Model.Randomstring alt="">
            <div class="product-action">
                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
            </div>
        </div>
        <div class="text-center py-4">
            <a class="h6 text-decoration-none text-truncate" href="">@Model.Name </a>
            <a class="h6 text-decoration-none text-truncate">@Model.Category</a>
            <div class="d-flex align-items-center justify-content-center mt-2">
                <h5>@Model.Price</h5>
                <h6 class="text-muted ml-2"><del>$123.00</del></h6>
          
        </div>
    </div>

